body {
    font-family: "Georgia", serif;
    font-size: 1.15em;
    line-height: 1.5em;
}

pre {
    font-size: 1em;
}    

h1,h2,h3,h4,h5,h6 {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: normal;
    margin: 2.5em 0 1em 0;
}

h2,h3 {
    padding-bottom: .125em;
    border-bottom: 1px solid #000;
}

table {
    margin: 0 auto;
}

#content {
    margin: 5em auto;
    width: 50em;
}

.org-svg {
    width: auto;
    display: inline-block;
    vertical-align: -.125em;
}

.equation-container {
    margin: 2.5em 0;
}
